{% extends 'base.html' %}

{% block title %}
      <title>Accueil</title>
{% endblock title %}


{% block content %}
<div class="container p-3" >
    <h1 class="text-center">Bienvenue sur Notre site</h1>
    <div style="text-align: justify; font-size: 16px;">
    <p>
        Notre mission est de créer un environnement sûr où chaque 
        personne peut librement partager son expérience. Chaque témoignage 
        que vous partagez avec nous est traité de manière anonyme et sécurisée. 
        Nous reconnaissons l'importance cruciale de protéger votre vie privée, et 
        nous nous engageons fermement à garantir la confidentialité de chaque récit. 
    </p>
    <p>
        En créant un compte, vous participez activement à briser le silence qui entoure 
        ces situations difficiles. Votre contribution joue un rôle essentiel dans la sensibilisation à 
        cette question, et vous avez le pouvoir de faire une réelle différence. Nous sommes là pour 
        soutenir votre démarche et créer une communauté qui encourage l'expression et la compréhension mutuelle.
    </p>
    </div>
</div>

{% endblock content %}